In [84]:
import numpy as np
import pandas as pd
import statsmodels.discrete.conditional_models
import sklearn.linear_model
import pylogit

In [113]:
ketchup = pd.read_csv("datasets/dataset02.csv")
# print(ketchup.head())
ketchup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2000 non-null   int64
 1   Heinz40          2000 non-null   int64
 2   Heinz32          2000 non-null   int64
 3   Heinz28          2000 non-null   int64
 4   Hunts32          2000 non-null   int64
 5   dis_Heinz40      2000 non-null   int64
 6   dis_Heinz32      2000 non-null   int64
 7   dis_Heinz28      2000 non-null   int64
 8   dis_Hunts32      2000 non-null   int64
 9   feature_Heinz40  2000 non-null   int64
 10  feature_Heinz32  2000 non-null   int64
 11  feature_Heinz28  2000 non-null   int64
 12  feature_Hunts32  2000 non-null   int64
 13  price_Heinz40    2000 non-null   float64
 14  price_Heinz32    2000 non-null   float64
 15  price_Heinz28    2000 non-null   float64
 16  price_Hunts32    2000 non-null   float64
 17  brandsize_f      2000 non-null   object
 18  obs_id           2000 non-null   int64
dtypes: float64(4), int64(14), object(1)
memory usage: 297.0+ KB

In [117]:
ketchup[['av_Heinz40', 'av_Heinz32', 'av_Heinz28', 'av_Hunts32']] = 1
ketchup

,Unnamed: 0,Heinz40,Heinz32,Heinz28,Hunts32,dis_Heinz40,dis_Heinz32,dis_Heinz28,dis_Hunts32,feature_Heinz40,...,price_Heinz32,price_Heinz28,price_Hunts32,brandsize_f,obs_id,av_Heinz40,av_Heinz32,av_Heinz28,av_Hunts32,choice
0,1861,0,1,0,0,0,0,0,0,0,...,0.034,0.053,0.029,Heinz32,1861,1,1,1,1,1
1,282,0,1,0,0,0,0,0,0,0,...,0.030,0.046,0.041,Heinz32,282,1,1,1,1,1
2,110,0,1,0,0,0,0,0,0,0,...,0.033,0.046,0.048,Heinz32,110,1,1,1,1,1
3,914,1,0,0,0,0,0,0,0,0,...,0.031,0.047,0.031,Heinz40,914,1,1,1,1,2
4,1265,0,1,0,0,0,0,0,0,0,...,0.022,0.047,0.034,Heinz32,1265,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,94,0,1,0,0,0,0,0,0,0,...,0.022,0.042,0.034,Heinz32,94,1,1,1,1,1
1996,555,0,0,1,0,0,0,0,0,0,...,0.036,0.046,0.037,Heinz28,555,1,1,1,1,0
1997,807,0,0,1,0,0,0,0,0,0,...,0.030,0.039,0.030,Heinz28,807,1,1,1,1,0
1998,1589,0,1,0,0,0,1,0,0,0,...,0.031,0.043,0.034,Heinz32,1589,1,1,1,1,1
1999,2050,0,1,0,0,0,0,0,0,0,...,0.032,0.050,0.041,Heinz32,2050,1,1,1,1,1

In [115]:
from statsmodels.discrete.conditional_models import ConditionalMNLogit
from pylogit.conditional_logit import MNL

y = pd.Series(np.where(ketchup[['Heinz28', 'Heinz32', 'Heinz40', 'Hunts32']]!=0)[1])

X = ketchup.loc[:, "price_Heinz40":"price_Hunts32"]

# categories = pd.Series(ketchup.columns[np.where(ketchup.loc[:, "Heinz40":"Hunts32"]!=0)[1]+1])
# categories = ketchup.index

model = ConditionalMNLogit(y, X, groups=ketchup["brandsize_f"])
model
# print(model.data)
# model.fit()
# categories
ketchup['choice'] = y
ketchup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2000 non-null   int64
 1   Heinz40          2000 non-null   int64
 2   Heinz32          2000 non-null   int64
 3   Heinz28          2000 non-null   int64
 4   Hunts32          2000 non-null   int64
 5   dis_Heinz40      2000 non-null   int64
 6   dis_Heinz32      2000 non-null   int64
 7   dis_Heinz28      2000 non-null   int64
 8   dis_Hunts32      2000 non-null   int64
 9   feature_Heinz40  2000 non-null   int64
 10  feature_Heinz32  2000 non-null   int64
 11  feature_Heinz28  2000 non-null   int64
 12  feature_Hunts32  2000 non-null   int64
 13  price_Heinz40    2000 non-null   float64
 14  price_Heinz32    2000 non-null   float64
 15  price_Heinz28    2000 non-null   float64
 16  price_Hunts32    2000 non-null   float64
 17  brandsize_f      2000 non-null   object
 18  obs_id           2000 non-null   int64
 19  av_Heinz40       2000 non-null   int64
 20  av_Heinz32       2000 non-null   int64
 21  av_Heinz28       2000 non-null   int64
 22  av_Hunts32       2000 non-null   int64
 23  choice           2000 non-null   int64
dtypes: float64(4), int64(19), object(1)
memory usage: 375.1+ KB

c:\Users\GLau\CodeProjects\marketing-models\venv\lib\site-packages\statsmodels\discrete\conditional_models.py:80: UserWarning: Dropped 4 groups and 2000 observations for having no within-group variance
  warnings.warn(msg)

In [127]:
ind_variables = ketchup.columns.tolist()[0:1]

alt_varying_variables = {u'price': dict([(0, 'price_Heinz40'),
                                        (1, 'price_Heinz32'),
                                        (2, 'price_Heinz28'),
                                        (3, 'price_Hunts32')])}

availability_variables = {0: 'av_Heinz40',
                          1: 'av_Heinz32', 
                          2: 'av_Heinz28',
                          3: 'av_Hunts32'}

custom_alt_id = "brandsize_i"

obs_id_column = "obs_id"

choice_column = "choice"


# Perform the conversion to long-format
long_ketchup = pylogit.convert_wide_to_long(ketchup, 
                                           ind_variables, 
                                           alt_varying_variables, 
                                           availability_variables, 
                                           obs_id_column, 
                                           choice_column,
                                           new_alt_id_name=custom_alt_id)
# Look at the resulting long-format dataframe
long_ketchup

c:\Users\GLau\CodeProjects\marketing-models\venv\lib\site-packages\pylogit\choice_tools.py:454: UserWarning: Note, there are 24 variables in wide_data but the inputs ind_vars, alt_specific_vars, and subset_specific_vars only account for 11 variables.
  warnings.warn(msg.format(num_dataframe_vars, data_title) +

      obs_id  brandsize_i  choice  Unnamed: 0  price
0       1861            0       0        1861  0.046
1       1861            1       1        1861  0.034
2       1861            2       0        1861  0.053
3       1861            3       0        1861  0.029
4        282            0       0         282  0.048
...      ...          ...     ...         ...    ...
7995    1589            3       0        1589  0.034
7996    2050            0       0        2050  0.049
7997    2050            1       1        2050  0.032
7998    2050            2       0        2050  0.050
7999    2050            3       0        2050  0.041

[8000 rows x 5 columns]

In [129]:
from collections import OrderedDict

basic_specification = OrderedDict()
basic_names = OrderedDict()

basic_specification["intercept"] = [0, 1, 3]
basic_names["intercept"] = ['intercept Heinz40',
                            'intercept Heinz32',
                            'intercept Hunts32']

In [145]:
ketchup_mnl = pylogit.create_choice_model(data=long_ketchup,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=basic_specification,
                                        model_type="MNL",
                                        names=basic_names)

# Specify the initial values and method for the optimization.
ketchup_mnl.fit_mle(np.zeros(3))

# Look at the estimation results
ketchup_mnl.get_statsmodels_summary()

ValueError: All rows pertaining to a given choice situation must be contiguous.
Rows pertaining to the following observation id's are not contiguous:
[1861, 282, 1716, 1970, 2447, 2730, 1902, 1298, 850, 271, 2715, 1382, 2057, 1713, 2387, 2450, 2580, 922, 2568, 1560, 2731, 1969, 2762, 1551, 2032, 618, 2797, 1210, 2377, 1843, 2234, 629, 2240, 2463, 1882, 1995, 1975, 1831, 679, 2700, 2335, 2347, 2325, 1614, 2626, 2757, 2689, 827, 339, 2305, 1044, 2389, 1573, 1718, 2093, 2172, 1769, 1289, 2724, 1628, 2561, 1837, 1916, 447, 2333, 2241, 791, 2398, 1893, 2739, 1961, 1409, 1412, 1176, 2624, 2551, 2538, 1510, 2242, 1896, 2348, 1466, 1597, 2225, 2595, 2706, 2345, 895, 2499, 2615, 1624, 2779, 583, 1681, 2328, 1493, 723, 2386, 2760, 1558, 2248, 2777, 2095, 1839, 2316, 1568, 2533, 1255, 2151, 2126, 1418, 2262, 1351, 1736, 2003, 2729, 322, 1169, 2503, 2209, 1013, 2559, 1500, 2758, 1852, 2185, 1948, 2782, 2733, 2148, 2359, 2603, 683, 460, 1967, 2180, 2529, 2145, 1996, 1675, 1973, 2681, 2506, 2514, 2781, 2137, 1714, 1844, 2403, 136, 2302, 2167, 1653, 2430, 2040, 2441, 1980, 2535, 2412, 1827, 1230, 2754, 1072, 2326, 2761, 2189, 2028, 2410, 2080, 1627, 1887, 1195, 2753, 2133, 2474, 1142, 1068, 2023, 2703, 1958, 1581, 2525, 852, 949, 1950, 1757, 1645, 2481, 1413, 424, 1754, 833, 884, 2554, 1828, 2287, 742, 1988, 1798, 727, 2058, 2738, 2527, 2156, 2488, 2774, 2571, 1236, 677, 2716, 2670, 1693, 1696, 940, 2705, 657, 1712, 1580, 2598, 2313, 2132, 1644, 1296, 2531, 2772, 1065, 2083, 2656, 2532, 2756, 656, 1883, 2304, 2378, 2139, 1943, 1439, 661, 2544, 2208, 2004, 1804, 725, 2351, 2223, 2691, 2247, 501, 2293, 2170, 2318, 1835, 1797, 1765, 2046, 898, 2233, 1357, 1117, 2651, 2784, 2422, 1475, 1199, 2709, 1818, 1252, 1518, 1374, 2051, 2311, 1918, 2498, 2549, 2699, 330, 1335, 694, 2633, 203, 2489, 1731, 1379, 2312, 2177, 2031, 1402, 1417, 625, 2518, 1830, 1531, 1069, 2025, 1434, 1416, 1528, 1725, 2649, 2728, 1753, 1074, 1063, 843, 2745, 2140, 1799, 2421, 1503, 1352, 2577, 1467, 2027, 2213, 1055, 2698, 2053, 2356, 941, 1724, 1123, 1003, 862, 1689, 1602, 740, 2244, 2173, 2075, 2360, 937, 2616, 2614, 2755, 2590, 2466, 1881, 1749, 1890, 1070, 2786, 2414, 2497, 2726, 2250, 1867, 848, 2432, 1977, 2108, 2487, 1796, 2653, 1735, 2030, 2297, 1904, 630, 2702, 1501, 676, 560, 2664, 1479, 1822, 1105, 2282, 861, 579, 2770, 2565, 1267, 2013, 1869, 1751, 609, 2704, 2371, 1156, 1448, 2669, 1048, 2661, 2200, 1129, 2254, 2558, 2201, 2540, 2130, 2361, 1092, 469, 1639, 864, 733, 1850, 1194, 2711, 332, 1730, 2033, 2507, 1615, 896, 2307, 2128, 1650, 998, 2160, 1430, 1318, 2454, 2290, 2089, 1810, 1205, 2508, 2790, 1873, 2720, 2534, 813, 1885, 2444, 1894, 1739, 2555, 1686, 751, 2159, 715, 1172, 1125, 2576, 1889, 2717, 767, 2599, 2592, 1824, 1652, 2001, 1397, 2750, 2395, 1895, 964, 2732, 2672, 2129, 1709, 2308, 1547, 2485, 2385, 1832, 2219, 1677, 2471, 1545, 2084, 1611, 1538, 300, 2397, 1723, 2277, 2121, 1876, 2557, 2406, 1872, 547, 2671, 2629, 762, 2600, 1786, 1637, 2341, 2553, 1389, 967, 1546, 2743, 1877, 2306, 2114, 2597, 2373, 2116, 2690, 2364, 903, 2719, 2048, 643, 2513, 1431, 2741, 1680, 1922, 2714, 1783, 888, 2680, 2350, 962, 2609, 1010, 2440, 2596, 1774, 2088, 1358, 2015, 2746, 2712, 669, 1760, 260, 2071, 1857, 2480, 2457, 1705, 1548, 1259, 551, 204, 2679, 2445, 1165, 1514, 377, 1954, 2433, 2094, 2771, 2612, 2000, 2570, 2652, 897, 1963, 1664, 2196, 2727, 1825, 2493, 2309, 1476, 2780, 2038, 2589, 660, 615, 2640, 1823, 2198, 2157, 2685, 2388, 819, 594, 2112, 1906, 1446, 2744, 2737, 1747, 866, 1915, 2776, 1794, 2687, 2322, 2314, 2317, 2631, 2552, 1648, 1114, 1280, 2323, 2491, 1499, 1619, 1342, 362, 1151, 2718, 2103, 2264, 2456, 1654, 1899, 2353, 2773, 1222, 2734, 307, 382, 1788, 564, 2298, 1293, 2291, 2569, 2530, 2547, 2556, 1261, 2289, 728, 2788, 2630, 2526, 2029, 2014, 1733, 2429, 2367, 1812, 2798, 2401, 1862, 927, 1888, 1848, 2266, 2722, 1770, 798, 1900, 1762, 1400, 1524, 1690, 1892, 2100, 2611, 2765, 2449, 2155, 2010, 1213, 2695, 1143, 907, 1132, 1708, 1965, 2076, 1982, 1744, 2701, 976, 939, 2187, 2042, 1728, 2458, 2604, 1080, 2539, 1989, 1951, 1687, 2767, 2769, 2171, 1395, 2166, 932, 2479, 1657, 1140, 1457, 687, 1517, 1543, 2310, 2735, 1743, 1100, 1496, 2081, 1563, 1211, 2697, 1587, 1993, 1612, 1189, 2416, 1981, 2206, 1685, 2688, 1133, 2601, 2634, 2605, 426, 1544, 2056, 1741, 809, 2369, 2168, 2303, 1421, 2352, 2332, 2222, 1919, 2292, 759, 2220, 1399, 1508, 1526, 2169, 2787, 1101, 2205, 1962, 2002, 1846, 2789, 1067, 2045, 2663, 2686, 1974, 2708, 1979, 2409, 2068, 2202, 1284, 877, 2696, 2134, 2563, 2476, 1225, 2693, 1600, 2136, 1665, 1583, 1838, 2400, 2694, 2285, 1594, 2517, 2617, 2179, 2496, 1561, 2210, 1490, 1427, 2472, 2339, 2574, 1605, 1668, 2620, 2638, 1910, 302, 840, 2581, 2183, 1702, 2564, 2519, 2366, 2212, 1925, 1633, 1122, 2380, 1777, 1964, 1629, 2587, 803, 2439, 1912, 664, 2059, 963, 2188, 1486, 2613, 2632, 1636, 1566, 2437, 785, 1806, 2662, 818, 1840, 1700, 952, 918, 2785, 2065, 2713, 2541, 2026, 1147, 2768, 2645, 1671, 1553, 2119, 1245, 1759, 2477, 2646, 1480, 2235, 2279, 1113, 559, 1542, 2578, 2278, 2610, 2586, 1660, 2490, 1373, 1720, 2150, 1312, 1033, 1706, 2036, 346, 1305, 599, 2268, 1472, 946, 2591, 2602, 2011, 2505, 2221, 1923, 741, 1339, 1030, 2146, 2751, 1452, 2152, 1216, 2346, 1369, 2358, 758, 2673, 2217, 1985, 2237, 1337, 797, 2008, 2644, 2667, 1667, 2473, 2764, 697, 2392, 1782, 2336, 1540, 492, 2131, 2231, 653, 2251, 2623, 1017, 2721, 1661, 1093, 2537, 1026, 2659, 904, 1463, 1191, 1758, 1492, 2459, 519, 2660, 1998, 1673, 2074, 2099, 1432, 2573, 1491, 2091, 1420, 1949, 1445, 911, 2082, 2665, 1701, 584, 1388, 1360, 280, 2149, 1717, 2550, 2375, 745, 917, 2655, 2521, 2105, 2243, 2516, 1634, 2747, 2793, 1478, 1037, 1090, 1051, 2740, 395, 1564, 1423, 1952, 2464, 1971, 1025, 2510, 2426, 982, 1574, 1311, 1277, 2424, 2370, 2062, 2164, 829, 1632, 2468, 970, 2642, 2294, 2492, 858, 371, 251, 2639, 1607, 1120, 2572, 2420, 427, 2144, 1201, 1190, 2111, 1507, 969, 504, 1945, 338]