In [1]:
import pandas as pd

In [2]:
import os
data_folder_path = "./data"
print(os.listdir(data_folder_path))

['test.csv', 'train.csv']

In [3]:
df_train = pd.read_csv(f'{data_folder_path}/train.csv', delimiter=';', decimal=",")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7639 entries, 0 to 7638
Data columns (total 92 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   target         7639 non-null   int64
 1   v2a1           7639 non-null   float64
 2   hacdor         7639 non-null   int64
 3   rooms          7639 non-null   int64
 4   hacapo         7639 non-null   int64
 5   v14a           7639 non-null   int64
 6   refrig         7639 non-null   int64
 7   v18q1          7639 non-null   int64
 8   r4h1           7639 non-null   int64
 9   r4h2           7639 non-null   int64
 10  r4m1           7639 non-null   int64
 11  r4m2           7639 non-null   int64
 12  escolari       7639 non-null   int64
 13  pared1         7639 non-null   int64
 14  pared2         7639 non-null   int64
 15  pared3         7639 non-null   int64
 16  pared4         7639 non-null   int64
 17  pared5         7639 non-null   int64
 18  pared6         7639 non-null   int64
 19  pared7         7639 non-null   int64
 20  piso1          7639 non-null   int64
 21  piso2          7639 non-null   int64
 22  piso3          7639 non-null   int64
 23  techo1         7639 non-null   int64
 24  techo2         7639 non-null   int64
 25  cielorazo      7639 non-null   int64
 26  water          7639 non-null   int64
 27  electro1       7639 non-null   int64
 28  electro2       7639 non-null   int64
 29  electro3       7639 non-null   int64
 30  sanitario1     7639 non-null   int64
 31  sanitario2     7639 non-null   int64
 32  sanitario3     7639 non-null   int64
 33  energcocinar1  7639 non-null   int64
 34  energcocinar2  7639 non-null   int64
 35  energcocinar3  7639 non-null   int64
 36  elimbasu1      7639 non-null   int64
 37  elimbasu2      7639 non-null   int64
 38  elimbasu3      7639 non-null   int64
 39  epared1        7639 non-null   int64
 40  epared2        7639 non-null   int64
 41  etecho1        7639 non-null   int64
 42  etecho2        7639 non-null   int64
 43  eviv1          7639 non-null   int64
 44  eviv2          7639 non-null   int64
 45  dis            7639 non-null   int64
 46  female         7639 non-null   int64
 47  estadocivil1   7639 non-null   int64
 48  estadocivil2   7639 non-null   int64
 49  estadocivil3   7639 non-null   int64
 50  estadocivil4   7639 non-null   int64
 51  estadocivil5   7639 non-null   int64
 52  estadocivil6   7639 non-null   int64
 53  parentesco1    7639 non-null   int64
 54  parentesco2    7639 non-null   int64
 55  parentesco3    7639 non-null   int64
 56  parentesco4    7639 non-null   int64
 57  parentesco5    7639 non-null   int64
 58  parentesco6    7639 non-null   int64
 59  parentesco7    7639 non-null   int64
 60  parentesco8    7639 non-null   int64
 61  parentesco9    7639 non-null   int64
 62  parentesco10   7639 non-null   int64
 63  parentesco11   7639 non-null   int64
 64  hogar_nin      7639 non-null   int64
 65  hogar_adul     7639 non-null   int64
 66  hogar_mayor    7639 non-null   int64
 67  meaneduc       7639 non-null   float64
 68  instlevel1     7639 non-null   int64
 69  instlevel2     7639 non-null   int64
 70  instlevel3     7639 non-null   int64
 71  instlevel4     7639 non-null   int64
 72  instlevel5     7639 non-null   int64
 73  instlevel6     7639 non-null   int64
 74  instlevel7     7639 non-null   int64
 75  instlevel8     7639 non-null   int64
 76  bedrooms       7639 non-null   int64
 77  overcrowding   7639 non-null   float64
 78  tipovivi1      7639 non-null   int64
 79  tipovivi2      7639 non-null   int64
 80  tipovivi3      7639 non-null   int64
 81  tipovivi4      7639 non-null   int64
 82  computer       7639 non-null   int64
 83  television     7639 non-null   int64
 84  qmobilephone   7639 non-null   int64
 85  lugar1         7639 non-null   int64
 86  lugar2         7639 non-null   int64
 87  lugar3         7639 non-null   int64
 88  lugar4         7639 non-null   int64
 89  lugar5         7639 non-null   int64
 90  rural          7639 non-null   int64
 91  age            7639 non-null   int64
dtypes: float64(3), int64(89)
memory usage: 5.4 MB

In [4]:
y_train = df_train.iloc[:,:1]
y_train

      target
0          0
1          0
2          0
3          1
4          0
...      ...
7634       0
7635       0
7636       0
7637       0
7638       0

[7639 rows x 1 columns]

In [5]:
x_train = df_train.iloc[:,1:]
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7639 entries, 0 to 7638
Data columns (total 91 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   v2a1           7639 non-null   float64
 1   hacdor         7639 non-null   int64
 2   rooms          7639 non-null   int64
 3   hacapo         7639 non-null   int64
 4   v14a           7639 non-null   int64
 5   refrig         7639 non-null   int64
 6   v18q1          7639 non-null   int64
 7   r4h1           7639 non-null   int64
 8   r4h2           7639 non-null   int64
 9   r4m1           7639 non-null   int64
 10  r4m2           7639 non-null   int64
 11  escolari       7639 non-null   int64
 12  pared1         7639 non-null   int64
 13  pared2         7639 non-null   int64
 14  pared3         7639 non-null   int64
 15  pared4         7639 non-null   int64
 16  pared5         7639 non-null   int64
 17  pared6         7639 non-null   int64
 18  pared7         7639 non-null   int64
 19  piso1          7639 non-null   int64
 20  piso2          7639 non-null   int64
 21  piso3          7639 non-null   int64
 22  techo1         7639 non-null   int64
 23  techo2         7639 non-null   int64
 24  cielorazo      7639 non-null   int64
 25  water          7639 non-null   int64
 26  electro1       7639 non-null   int64
 27  electro2       7639 non-null   int64
 28  electro3       7639 non-null   int64
 29  sanitario1     7639 non-null   int64
 30  sanitario2     7639 non-null   int64
 31  sanitario3     7639 non-null   int64
 32  energcocinar1  7639 non-null   int64
 33  energcocinar2  7639 non-null   int64
 34  energcocinar3  7639 non-null   int64
 35  elimbasu1      7639 non-null   int64
 36  elimbasu2      7639 non-null   int64
 37  elimbasu3      7639 non-null   int64
 38  epared1        7639 non-null   int64
 39  epared2        7639 non-null   int64
 40  etecho1        7639 non-null   int64
 41  etecho2        7639 non-null   int64
 42  eviv1          7639 non-null   int64
 43  eviv2          7639 non-null   int64
 44  dis            7639 non-null   int64
 45  female         7639 non-null   int64
 46  estadocivil1   7639 non-null   int64
 47  estadocivil2   7639 non-null   int64
 48  estadocivil3   7639 non-null   int64
 49  estadocivil4   7639 non-null   int64
 50  estadocivil5   7639 non-null   int64
 51  estadocivil6   7639 non-null   int64
 52  parentesco1    7639 non-null   int64
 53  parentesco2    7639 non-null   int64
 54  parentesco3    7639 non-null   int64
 55  parentesco4    7639 non-null   int64
 56  parentesco5    7639 non-null   int64
 57  parentesco6    7639 non-null   int64
 58  parentesco7    7639 non-null   int64
 59  parentesco8    7639 non-null   int64
 60  parentesco9    7639 non-null   int64
 61  parentesco10   7639 non-null   int64
 62  parentesco11   7639 non-null   int64
 63  hogar_nin      7639 non-null   int64
 64  hogar_adul     7639 non-null   int64
 65  hogar_mayor    7639 non-null   int64
 66  meaneduc       7639 non-null   float64
 67  instlevel1     7639 non-null   int64
 68  instlevel2     7639 non-null   int64
 69  instlevel3     7639 non-null   int64
 70  instlevel4     7639 non-null   int64
 71  instlevel5     7639 non-null   int64
 72  instlevel6     7639 non-null   int64
 73  instlevel7     7639 non-null   int64
 74  instlevel8     7639 non-null   int64
 75  bedrooms       7639 non-null   int64
 76  overcrowding   7639 non-null   float64
 77  tipovivi1      7639 non-null   int64
 78  tipovivi2      7639 non-null   int64
 79  tipovivi3      7639 non-null   int64
 80  tipovivi4      7639 non-null   int64
 81  computer       7639 non-null   int64
 82  television     7639 non-null   int64
 83  qmobilephone   7639 non-null   int64
 84  lugar1         7639 non-null   int64
 85  lugar2         7639 non-null   int64
 86  lugar3         7639 non-null   int64
 87  lugar4         7639 non-null   int64
 88  lugar5         7639 non-null   int64
 89  rural          7639 non-null   int64
 90  age            7639 non-null   int64
dtypes: float64(3), int64(88)
memory usage: 5.3 MB

In [6]:
x_test = pd.read_csv(f'{data_folder_path}/test.csv', delimiter=';', decimal=",")
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Data columns (total 91 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   v2a1           1910 non-null   float64
 1   hacdor         1910 non-null   int64
 2   rooms          1910 non-null   int64
 3   hacapo         1910 non-null   int64
 4   v14a           1910 non-null   int64
 5   refrig         1910 non-null   int64
 6   v18q1          1910 non-null   int64
 7   r4h1           1910 non-null   int64
 8   r4h2           1910 non-null   int64
 9   r4m1           1910 non-null   int64
 10  r4m2           1910 non-null   int64
 11  escolari       1910 non-null   int64
 12  pared1         1910 non-null   int64
 13  pared2         1910 non-null   int64
 14  pared3         1910 non-null   int64
 15  pared4         1910 non-null   int64
 16  pared5         1910 non-null   int64
 17  pared6         1910 non-null   int64
 18  pared7         1910 non-null   int64
 19  piso1          1910 non-null   int64
 20  piso2          1910 non-null   int64
 21  piso3          1910 non-null   int64
 22  techo1         1910 non-null   int64
 23  techo2         1910 non-null   int64
 24  cielorazo      1910 non-null   int64
 25  water          1910 non-null   int64
 26  electro1       1910 non-null   int64
 27  electro2       1910 non-null   int64
 28  electro3       1910 non-null   int64
 29  sanitario1     1910 non-null   int64
 30  sanitario2     1910 non-null   int64
 31  sanitario3     1910 non-null   int64
 32  energcocinar1  1910 non-null   int64
 33  energcocinar2  1910 non-null   int64
 34  energcocinar3  1910 non-null   int64
 35  elimbasu1      1910 non-null   int64
 36  elimbasu2      1910 non-null   int64
 37  elimbasu3      1910 non-null   int64
 38  epared1        1910 non-null   int64
 39  epared2        1910 non-null   int64
 40  etecho1        1910 non-null   int64
 41  etecho2        1910 non-null   int64
 42  eviv1          1910 non-null   int64
 43  eviv2          1910 non-null   int64
 44  dis            1910 non-null   int64
 45  female         1910 non-null   int64
 46  estadocivil1   1910 non-null   int64
 47  estadocivil2   1910 non-null   int64
 48  estadocivil3   1910 non-null   int64
 49  estadocivil4   1910 non-null   int64
 50  estadocivil5   1910 non-null   int64
 51  estadocivil6   1910 non-null   int64
 52  parentesco1    1910 non-null   int64
 53  parentesco2    1910 non-null   int64
 54  parentesco3    1910 non-null   int64
 55  parentesco4    1910 non-null   int64
 56  parentesco5    1910 non-null   int64
 57  parentesco6    1910 non-null   int64
 58  parentesco7    1910 non-null   int64
 59  parentesco8    1910 non-null   int64
 60  parentesco9    1910 non-null   int64
 61  parentesco10   1910 non-null   int64
 62  parentesco11   1910 non-null   int64
 63  hogar_nin      1910 non-null   int64
 64  hogar_adul     1910 non-null   int64
 65  hogar_mayor    1910 non-null   int64
 66  meaneduc       1910 non-null   float64
 67  instlevel1     1910 non-null   int64
 68  instlevel2     1910 non-null   int64
 69  instlevel3     1910 non-null   int64
 70  instlevel4     1910 non-null   int64
 71  instlevel5     1910 non-null   int64
 72  instlevel6     1910 non-null   int64
 73  instlevel7     1910 non-null   int64
 74  instlevel8     1910 non-null   int64
 75  bedrooms       1910 non-null   int64
 76  overcrowding   1910 non-null   float64
 77  tipovivi1      1910 non-null   int64
 78  tipovivi2      1910 non-null   int64
 79  tipovivi3      1910 non-null   int64
 80  tipovivi4      1910 non-null   int64
 81  computer       1910 non-null   int64
 82  television     1910 non-null   int64
 83  qmobilephone   1910 non-null   int64
 84  lugar1         1910 non-null   int64
 85  lugar2         1910 non-null   int64
 86  lugar3         1910 non-null   int64
 87  lugar4         1910 non-null   int64
 88  lugar5         1910 non-null   int64
 89  rural          1910 non-null   int64
 90  age            1910 non-null   int64
dtypes: float64(3), int64(88)
memory usage: 1.3 MB