## TRADE DATA

In [2]:
import pandas as pd
import datetime

def process_csv(filepath, product_index):
    """
    This function takes the file path and product index as inputs and returns the filtered trade data dataframe
    for a particular product.
    
    Parameters:
    filepath (str) : file path for the trade data file
    product_index (int) : index of the product in the list of all products
    
    Returns:
    df_product_filtered (pandas dataframe) : dataframe for the filtered product
    """
    
    # Read the CSV file and convert the "TIME_PERIOD" column to datetime
    trade_data = pd.read_csv(filepath)
    trade_data["TIME_PERIOD"] = pd.to_datetime(trade_data["TIME_PERIOD"], format = '%Y-%m').dt.date
    
    # Rename columns and remove duplicates
    trade_data = trade_data.rename(columns={"partner": "PARTNER_codes", "declarant": "DECLARANT_codes"})
    trade_data = trade_data.drop_duplicates()
    
    # Get the list of all products
    products = trade_data["product"].drop_duplicates().to_list()
    
    # Filter the data for a particular product
    product_filter = products[product_index]
    
    # Read the partner countries data
    partner_countries = pd.read_csv("trade_data/partners.csv", sep = ";")
    
    # Merge the trade data and partner country data on the "PARTNER_codes" column
    trade_data = pd.merge(trade_data, partner_countries, on = ['PARTNER_codes'], how = 'inner')
    
    # Pivot the trade data to create a multi-index dataframe
    trade_data_pivot = trade_data.pivot(index=['PARTNER_Labels', 'TIME_PERIOD', 'product'], 
                                  columns='indicators', 
                                  values=['OBS_VALUE'])
    
    # Flatten the column names
    trade_data_pivot.columns = trade_data_pivot.columns.map('_'.join)
    
    # Reset the index and remove missing values
    trade_data_pivot = trade_data_pivot.reset_index()
    trade_data_pivot = trade_data_pivot.dropna()
    
    # Filter the data for the selected product
    df = trade_data_pivot
    df_product_filtered = df[df['product'] == product_filter]

    
    return df_product_filtered

#Declare DataFrames 
df_maize_corn_0 = process_csv("trade_data/maize_corn.csv", 0)
df_maize_corn_0['price'] = df_maize_corn_0['OBS_VALUE_VALUE_1000EURO'] / df_maize_corn_0['OBS_VALUE_QUANTITY_TON']

# Keep '10059000' the same but name it 'maize'
df_maize = df_maize_corn_0
df_maize['product'] = 'maize'

In [3]:
df_maize

,PARTNER_Labels,TIME_PERIOD,product,OBS_VALUE_QUANTITY_TON,OBS_VALUE_VALUE_1000EURO,price
0,Afghanistan,2021-03-01,maize,0.0,0.04,inf
1,Antigua and Barbuda,2020-01-01,maize,54.0,21.20,0.392593
2,Antigua and Barbuda,2020-04-01,maize,27.0,12.14,0.449630
3,Argentina,2005-01-01,maize,8100.0,937.50,0.115741
4,Argentina,2005-02-01,maize,3172.0,392.55,0.123755
...,...,...,...,...,...,...
5534,Zimbabwe,2007-01-01,maize,0.1,0.13,1.300000
5535,Zimbabwe,2010-12-01,maize,0.3,1.11,3.700000
5536,Zimbabwe,2011-01-01,maize,0.1,0.38,3.800000
5537,Zimbabwe,2011-03-01,maize,0.2,0.38,1.900000
5538,Zimbabwe,2020-06-01,maize,4.4,0.95,0.215909

## WEATHER DATA

In [4]:
import pandas as pd
import datetime

#Clean import oil_price_index_2015_oecd

# Read the data from the weather file
df_global_temperature = pd.read_csv('weather_data/global_temperature_data.csv')

# Rename the 'YearMonth' column to 'TIME_PERIOD'
df_global_temperature.rename(columns={'yearmonth': 'TIME_PERIOD', 'partner_labels': 'PARTNER_Labels'}, inplace=True)

# Convert the TIME_PERIOD column to datetime format
df_global_temperature['TIME_PERIOD'] = pd.to_datetime(df_global_temperature['TIME_PERIOD'], format='%Y%m')

# Convert the TIME_PERIOD column to the desired format
df_global_temperature['TIME_PERIOD'] = df_global_temperature['TIME_PERIOD'].dt.strftime('%Y-%m-%d')

# Drop columns
df_global_temperature.drop(columns=['partner_code', 'weather_countrycode', 'weather_countryname', 'iso_countrycode'], inplace=True)

df_global_temperature['TIME_PERIOD'] = pd.to_datetime(df_global_temperature['TIME_PERIOD'])
df_global_temperature

             PARTNER_Labels TIME_PERIOD    AVG_TAVG    MIN_TMIN    MAX_TMAX
0      United Arab Emirates  2005-01-01  186.096154  110.000000  280.000000
1      United Arab Emirates  2005-02-01  204.750000  106.000000  306.500000
2      United Arab Emirates  2005-03-01  238.226667  124.500000  363.666667
3      United Arab Emirates  2005-04-01  280.984568  155.000000  423.333333
4      United Arab Emirates  2005-05-01  321.296296  192.000000  435.500000
...                     ...         ...         ...         ...         ...
21085              Viet Nam  2022-08-01  287.060676  244.363636  348.666667
21086              Viet Nam  2022-09-01  279.751352  233.600000  350.000000
21087              Viet Nam  2022-10-01  246.000000  238.000000  260.000000
21088              Viet Nam  2022-11-01  272.000000  252.000000  304.000000
21089              Viet Nam  2022-12-01  179.500000  123.000000  248.000000

[21090 rows x 5 columns]

## OIL DATA

In [5]:
import pandas as pd
import datetime

#Clean import oil_price_index_2015_oecd

# Read the data from the 'oil_price_index_2015_oecd.xlsx' file
df_oil_index = pd.read_excel('oil_prices/oil_price_index_2015_oecd.xlsx', skiprows=[0,1,2,3,4, 9012, 9013, 9014, 9015])
# Forward fill the 'Country' column
df_oil_index['Country'].fillna(method='ffill', inplace=True)
# Rename columns
df_oil_index.rename(columns={'Unnamed: 3': 'CPI_ENERGY'}, inplace=True)
df_oil_index.rename(columns={'Unnamed: 4': 'CPI_ENERGY_HARMONISED'}, inplace=True)
# Delete the 'Unnamed: 2' column
df_oil_index.drop(columns=['Unnamed: 2'], inplace=True)
# Convert the 'Time' column to datetime format
df_oil_index['Time'] = pd.to_datetime(df_oil_index['Time'], format='%b-%Y')
df_oil_index.rename(columns={'Time': 'TIME_INDEX'}, inplace=True)

#Clean import CMO-Historical-Data-Monthly.xlsx

df_commodities_price = pd.read_excel('oil_prices/CMO-Historical-Data-Monthly.xlsx', sheet_name = 'Monthly Prices', skiprows=[0,1,2,3,4,5])
# Rename columns
df_commodities_price.rename(columns={'Unnamed: 0': 'TIME_PERIOD'}, inplace=True)
df_commodities_price.rename(columns={'CRUDE_PETRO': 'OIL_PRICE $/bbl'}, inplace=True)
df_commodities_price['TIME_PERIOD'] = pd.to_datetime(df_commodities_price['TIME_PERIOD'], format='%YM%m')

df_oil_price_full = pd.DataFrame(df_commodities_price, columns=['TIME_PERIOD', 'OIL_PRICE $/bbl'])

df_oil_price = df_oil_price_full.loc[(df_oil_price_full['TIME_PERIOD'] >= '2005-01-01') & (df_oil_price_full['TIME_PERIOD'] <= '2022-10-01')]
df_oil_price

    TIME_PERIOD  OIL_PRICE $/bbl
540  2005-01-01        42.972278
541  2005-02-01        44.818211
542  2005-03-01        50.942879
543  2005-04-01        50.640476
544  2005-05-01        47.826573
..          ...              ...
749  2022-06-01       116.800000
750  2022-07-01       105.083333
751  2022-08-01        95.973333
752  2022-09-01        88.220000
753  2022-10-01        90.326667

[214 rows x 2 columns]

## FUTURES PRICES (CORN)

In [6]:
import pandas as pd
import datetime

#Clean import oil_price_index_2015_oecd

# Read the data from the weather file
df_futures_corn = pd.read_csv('futures_data/US Corn Futures Historical Data.csv')

# Rename the 'date' column to 'TIME_PERIOD'
df_futures_corn.rename(columns={'Date': 'TIME_PERIOD', 'Price': 'Corn Price Futures'}, inplace=True)

df_futures_corn['TIME_PERIOD'] = pd.to_datetime(df_futures_corn['TIME_PERIOD'], format='%d/%m/%Y')
df_futures_corn['TIME_PERIOD'] = df_futures_corn['TIME_PERIOD'].dt.strftime('%Y/%d/%m')

df_futures_corn.drop(columns=['Open','High','Low','Vol.','Change %'], inplace=True)

df_futures_corn['TIME_PERIOD'] = pd.to_datetime(df_futures_corn['TIME_PERIOD'])

df_futures_corn.sort_values(by='TIME_PERIOD', ascending=True, inplace=True)
df_futures_corn

    TIME_PERIOD  Corn Price Futures
212  2005-02-01              222.75
211  2005-03-01              221.00
210  2005-04-01              213.50
209  2005-05-01              230.75
208  2005-06-01              222.25
..          ...                 ...
4    2022-06-01              743.75
3    2022-07-01              616.25
2    2022-08-01              673.75
1    2022-09-01              677.50
0    2022-10-01              691.50

[213 rows x 2 columns]

## MACROECONOMIC DATA

In [7]:
#import datetime
import numpy
import openpyxl
#import data
path_file_1_p = "macroeconomic_data/Population_projections.xlsx"
population_data = pd.read_excel(path_file_1_p)

path_file_1 = "macroeconomic_data/macro_economic_indicators.csv"
economic_indicators = pd.read_csv(path_file_1, sep = ";", decimal=".")

#rename column for merge later
population_data = population_data.rename(columns = {'Country Name': 'PARTNER_Labels'})
economic_indicators = economic_indicators.rename(columns = {'country_name': 'PARTNER_Labels' ,'Time':'TIME_PERIOD' })
#this is a quick fix
macro_economic_indicators = economic_indicators
# Convert year to datetime with year and month
macro_economic_indicators['year'] = pd.to_datetime(macro_economic_indicators['year'], format='%Y').dt.to_period('M')
# Set the date as the index
macro_economic_indicators.set_index('year', inplace=True)

#make df for monthly data
monthly_data = macro_economic_indicators.iloc[0:0].copy()


number_of_col = macro_economic_indicators.shape[1]
nan_row = numpy.empty((number_of_col,))
nan_row[:] = numpy.nan

#add na rows for 11 months in a year
n_row = macro_economic_indicators.shape[0] 
for i in range(n_row):
    print(i)
    holder_for_rows = macro_economic_indicators.iloc[i,:]
    current_country = macro_economic_indicators.iloc[i,0] 
    current_country_code = macro_economic_indicators.iloc[i,1] 
    for j in range(12):
        index_3 = 12 * i + j
        if j == 0 :
            monthly_data.loc[index_3] = holder_for_rows   
        else:
            monthly_data.loc[index_3] = nan_row
            monthly_data.iloc[index_3,0] = current_country
            monthly_data.iloc[index_3,1] = current_country_code

#slects als the column with numbers
c = monthly_data.columns[3:12]
monthly_data[c] = monthly_data[c].apply(pd.to_numeric)

n_countries = len(population_data['Country Code'].unique())
#fills in the date column
for i in range(n_countries-1):
    index_1 = 0   + 204*i
    index_2 = 204 + 204*i
    monthly_data.iloc[index_1:index_2,:] = monthly_data.iloc[index_1:index_2,:].interpolate().copy()
    #adding dates 
    monthly_data.iloc[index_1:index_2,2] = pd.period_range("2005-01", "2021-12", freq='M')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861

1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3141
3142
3143
3144
3145
3146
3147
3148
3149
3150
3151
3152
3153
3154
3155
3156
3157
3158
3159
3160
3161
3162
3163
3164
3165
3166
3167
3168
3169
3170
3171
3172
3173
3174
3175
3176
3177
3178
3179
3180
3181
3182
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3198
3199
3200
3201
3202
3203
3204
3205
3206
3207
3208
3209
3210
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3244
3245
3246
3247
3248
3249
3250
3251
3252
3253
3254
3255
3256
3257
3258
3259
3260
3261
3262
3263
3264
3265
3266
3267
3268
3269
3270
3271
3272
3273
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3288
3289
3290
3291
3292
3293
3294
3295
3296
3297
3298
3299
3300
3301
3302
3303
3304
3305
3306
3307
3308
3309
3310
3311
3312
3313
3314
3315
3316
3317
3318
3319
3320
3321
3322
3323
3324
3325
3326
3327
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3339
3340
3341
3342
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3354
3355
3356
3357
3358
3359
3360
3361
3362
3363
3364
3365
3366
3367
3368
3369
3370
3371
3372
3373
3374
3375
3376
3377
3378
3379
3380
3381
3382
3383
3384
3385
3386
3387
3388
3389
3390
3391
3392
3393
3394
3395
3396
3397
3398
3399
3400
3401
3402
3403
3404
3405
3406
3407
3408
3409
3410
3411
3412
3413
3414
3415
3416
3417
3418
3419
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3430
3431
3432
3433
3434
3435
3436
3437
3438
3439
3440
3441
3442
3443
3444
3445
3446
3447
3448
3449
3450
3451
3452
3453
3454
3455
3456
3457
3458
3459
3460
3461
3462
3463
3464
3465
3466
3467
3468
3469
3470
3471
3472
3473
3474
3475
3476
3477
3478
3479
3480
3481
3482
3483
3484
3485
3486
3487
3488
3489
3490
3491
3492
3493
3494
3495
3496
3497
3498
3499
3500
3501

3502
3503
3504
3505
3506
3507
3508
3509
3510
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3526
3527
3528
3529
3530
3531
3532
3533
3534
3535
3536
3537
3538
3539
3540
3541
3542
3543
3544
3545
3546
3547
3548
3549
3550
3551
3552
3553
3554
3555
3556
3557
3558
3559
3560
3561
3562
3563
3564
3565
3566
3567
3568
3569
3570
3571
3572
3573
3574
3575
3576
3577
3578
3579
3580
3581
3582
3583
3584
3585
3586
3587
3588
3589
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3600
3601
3602
3603
3604
3605
3606
3607
3608
3609
3610
3611
3612
3613
3614
3615
3616
3617
3618
3619
3620
3621
3622
3623
3624
3625
3626
3627
3628
3629
3630
3631
3632
3633
3634
3635
3636
3637
3638
3639
3640
3641
3642
3643
3644
3645
3646
3647
3648
3649
3650
3651
3652
3653
3654
3655
3656
3657
3658
3659
3660
3661
3662
3663
3664
3665
3666
3667
3668
3669
3670
3671
3672
3673
3674
3675
3676
3677
3678
3679
3680
3681
3682
3683
3684
3685
3686
3687
3688
3689
3690
3691
3692
3693
3694
3695
3696
3697
3698
3699
3700
3701
3702
3703
3704
3705
3706
3707
3708
3709
3710
3711
3712
3713
3714
3715
3716
3717
3718
3719
3720
3721
3722
3723
3724
3725
3726
3727
3728
3729
3730
3731
3732
3733
3734
3735
3736
3737
3738
3739
3740
3741
3742
3743
3744
3745
3746
3747
3748
3749
3750
3751
3752
3753
3754
3755
3756
3757
3758
3759
3760
3761
3762
3763
3764
3765
3766
3767
3768
3769
3770
3771
3772
3773
3774
3775
3776
3777
3778
3779
3780
3781
3782
3783
3784
3785
3786
3787
3788
3789
3790
3791
3792
3793
3794
3795
3796
3797
3798
3799
3800
3801
3802
3803
3804
3805
3806
3807
3808
3809
3810
3811
3812
3813
3814
3815
3816
3817
3818
3819
3820
3821
3822
3823
3824
3825
3826
3827
3828
3829
3830
3831
3832
3833
3834
3835
3836
3837
3838
3839
3840
3841
3842
3843
3844
3845
3846
3847
3848
3849
3850
3851
3852
3853
3854
3855
3856
3857
3858
3859
3860
3861
3862
3863
3864
3865
3866
3867
3868
3869
3870
3871
3872
3873
3874
3875
3876
3877
3878
3879
3880
3881
3882
3883
3884
3885
3886
3887
3888
3889
3890
3891
3892
3893
3894
3895
3896
3897
3898
3899
3900
3901
3902
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
3917
3918
3919
3920
3921
3922
3923
3924
3925
3926
3927
3928
3929
3930
3931
3932
3933
3934
3935
3936
3937
3938
3939
3940
3941
3942
3943
3944
3945
3946
3947
3948
3949
3950
3951
3952
3953
3954
3955
3956
3957
3958
3959
3960
3961
3962
3963
3964
3965
3966
3967
3968
3969
3970
3971
3972
3973
3974
3975
3976
3977
3978
3979
3980
3981
3982
3983
3984
3985
3986
3987
3988
3989
3990
3991
3992
3993
3994
3995
3996
3997
3998
3999
4000
4001
4002
4003
4004
4005
4006
4007
4008
4009
4010
4011
4012
4013
4014
4015
4016
4017
4018
4019
4020
4021
4022
4023
4024
4025
4026
4027
4028
4029
4030
4031
4032
4033
4034
4035
4036
4037
4038
4039
4040
4041
4042
4043
4044
4045
4046
4047
4048
4049
4050
4051
4052
4053
4054
4055
4056
4057
4058
4059
4060
4061
4062
4063
4064
4065
4066
4067
4068
4069
4070
4071
4072
4073
4074
4075
4076
4077
4078
4079
4080
4081
4082
4083
4084
4085
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115
4116
4117
4118
4119
4120
4121
4122
4123
4124
4125
4126
4127
4128
4129
4130
4131
4132
4133
4134
4135
4136
4137
4138
4139
4140
4141
4142
4143
4144
4145
4146
4147
4148
4149
4150
4151
4152
4153
4154
4155
4156
4157
4158
4159
4160
4161
4162
4163
4164
4165
4166
4167
4168
4169
4170
4171
4172
4173
4174
4175
4176
4177
4178
4179
4180
4181
4182
4183
4184
4185
4186
4187
4188
4189
4190
4191
4192
4193
4194
4195
4196
4197
4198
4199
4200
4201
4202
4203
4204
4205
4206
4207
4208
4209
4210
4211
4212
4213
4214
4215
4216
4217
4218
4219
4220
4221
4222
4223
4224
4225
4226
4227
4228
4229
4230
4231
4232
4233
4234
4235
4236
4237
4238
4239
4240
4241
4242
4243
4244
4245
4246
4247
4248
4249
4250
4251
4252
4253
4254
4255
4256
4257
4258
4259
4260
4261
4262
4263
4264
4265
4266
4267
4268
4269
4270
4271
4272
4273
4274
4275
4276
4277
4278
4279
4280
4281
4282
4283
4284
4285
4286
4287
4288
4289
4290
4291
4292
4293
4294
4295
4296
4297
4298
4299
4300
4301
4302
4303
4304
4305
4306
4307
4308
4309
4310
4311
4312
4313
4314
4315
4316
4317
4318
4319
4320
4321
4322
4323
4324
4325
4326
4327
4328
4329
4330
4331
4332
4333
4334
4335
4336
4337
4338
4339
4340
4341
4342
4343
4344
4345
4346
4347
4348
4349
4350
4351
4352
4353
4354
4355
4356
4357
4358
4359
4360
4361
4362
4363
4364
4365
4366
4367
4368
4369
4370
4371
4372
4373
4374
4375
4376
4377
4378
4379
4380
4381
4382
4383
4384
4385
4386
4387
4388
4389
4390
4391
4392
4393
4394
4395
4396
4397
4398
4399
4400
4401
4402
4403
4404
4405
4406
4407
4408
4409
4410
4411
4412
4413
4414
4415
4416
4417
4418
4419
4420
4421
4422
4423
4424
4425
4426
4427
4428
4429
4430
4431
4432
4433
4434
4435
4436
4437
4438
4439
4440
4441
4442
4443
4444
4445
4446
4447
4448
4449
4450
4451
4452
4453
4454
4455
4456
4457
4458
4459
4460
4461
4462
4463
4464
4465
4466
4467
4468
4469
4470
4471
4472
4473
4474
4475
4476
4477
4478
4479
4480
4481
4482
4483
4484
4485
4486
4487
4488
4489
4490
4491
4492
4493
4494
4495
4496
4497
4498
4499
4500
4501
4502
4503
4504
4505
4506
4507
4508
4509
4510
4511
4512
4513
4514
4515
4516
4517
4518
4519
4520
4521
4522
4523
4524
4525
4526

In [8]:
monthly_data  = monthly_data.rename(columns = {'timecode': 'TIME_PERIOD'})
# convert Period and float values to string format, and then to datetime
monthly_data['TIME_PERIOD'] = monthly_data['TIME_PERIOD'].apply(lambda x: str(x) if isinstance(x, pd.Period) else x)
monthly_data['TIME_PERIOD'] = pd.to_datetime(monthly_data['TIME_PERIOD'], errors='coerce')

df_macroeconomic = monthly_data
df_macroeconomic

,PARTNER_Labels,country_code,TIME_PERIOD,gdp_current_us,gdp_constant_2015_us,population_total,unemployment_total,agricultural_land,renewable_energy_consumption_perc_of_total,energy_use_kg_of_oil_equivalent_per_capita,fossil_fuel_energy_consumption_perc_of_total
year,,,,,,,,,,,
0,Argentina,ARG,2005-01-01,1.987371e+11,4.352966e+11,39070501.0,11.510000,1.299209e+06,9.640000,1712.850000,89.050000
1,Argentina,ARG,2005-02-01,2.015554e+11,4.382157e+11,39104363.5,11.390833,1.299391e+06,9.601667,1723.801667,89.016667
2,Argentina,ARG,2005-03-01,2.043738e+11,4.411348e+11,39138226.0,11.271667,1.299572e+06,9.563333,1734.753333,88.983333
3,Argentina,ARG,2005-04-01,2.071921e+11,4.440538e+11,39172088.5,11.152500,1.299754e+06,9.525000,1745.705000,88.950000
4,Argentina,ARG,2005-05-01,2.100105e+11,4.469729e+11,39205951.0,11.033333,1.299936e+06,9.486667,1756.656667,88.916667
...,...,...,...,...,...,...,...,...,...,...,...
54319,Last Updated: 12/22/2022,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54320,Last Updated: 12/22/2022,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54321,Last Updated: 12/22/2022,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54322,Last Updated: 12/22/2022,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54323,Last Updated: 12/22/2022,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## MERGING DATA

### Merged trade data, oil price

In [36]:
df_maize['TIME_PERIOD'] = pd.to_datetime(df_maize['TIME_PERIOD'])
df_merged_trade_oil = df_oil_price.merge(df_maize, on='TIME_PERIOD', how='outer')
df_merged_trade_oil.head(30)

,TIME_PERIOD,OIL_PRICE $/bbl,PARTNER_Labels,product,OBS_VALUE_QUANTITY_TON,OBS_VALUE_VALUE_1000EURO,price
0,2005-01-01,42.972278,Argentina,maize,8100.0,937.50,0.115741
1,2005-01-01,42.972278,Belgium,maize,6402.3,762.53,0.119103
2,2005-01-01,42.972278,France,maize,106983.9,13119.68,0.122632
3,2005-01-01,42.972278,Germany,maize,39590.1,4767.79,0.120429
4,2005-01-01,42.972278,Hungary,maize,4705.2,515.71,0.109604
5,2005-01-01,42.972278,India,maize,0.8,2.64,3.300000
6,2005-01-01,42.972278,Italy,maize,120.1,4.56,0.037968
7,2005-01-01,42.972278,Kenya,maize,1.8,4.65,2.583333
8,2005-01-01,42.972278,Peru,maize,1.6,6.36,3.975000
9,2005-01-01,42.972278,Tanzania,maize,0.4,1.60,4.000000
10,2005-01-01,42.972278,Thailand,maize,45.9,159.24,3.469281
11,2005-01-01,42.972278,Türkiye,maize,1.0,0.71,0.710000
12,2005-01-01,42.972278,United Kingdom,maize,72.8,22.86,0.314011
13,2005-01-01,42.972278,United States,maize,81.8,27.40,0.334963
14,2005-01-01,42.972278,Zimbabwe,maize,0.5,1.54,3.080000
15,2005-02-01,44.818211,Argentina,maize,3172.0,392.55,0.123755
16,2005-02-01,44.818211,Belgium,maize,7969.7,945.26,0.118607
17,2005-02-01,44.818211,Brazil,maize,40.0,6.57,0.164250
18,2005-02-01,44.818211,France,maize,126648.5,15708.00,0.124028
19,2005-02-01,44.818211,Germany,maize,73452.7,8008.91,0.109035
20,2005-02-01,44.818211,Hungary,maize,16053.2,1694.86,0.105578
21,2005-02-01,44.818211,India,maize,1.1,3.36,3.054545
22,2005-02-01,44.818211,Italy,maize,53.6,15.85,0.295709
23,2005-02-01,44.818211,Kenya,maize,1.0,2.62,2.620000
24,2005-02-01,44.818211,Peru,maize,1.7,6.54,3.847059
25,2005-02-01,44.818211,Suriname,maize,0.0,0.03,inf
26,2005-02-01,44.818211,Thailand,maize,48.8,164.84,3.377869
27,2005-02-01,44.818211,United Kingdom,maize,49.5,18.85,0.380808
28,2005-02-01,44.818211,United States,maize,42.2,11.41,0.270379
29,2005-02-01,44.818211,Zimbabwe,maize,0.4,1.02,2.550000

### Merged trade data, oil price, weather data

In [10]:
df_merged_trade_oil_weather = df_merged_trade_oil.merge(df_global_temperature, on=['TIME_PERIOD', 'PARTNER_Labels'], how='outer')
df_merged_trade_oil_weather

,TIME_PERIOD,OIL_PRICE $/bbl,PARTNER_Labels,product,OBS_VALUE_QUANTITY_TON,OBS_VALUE_VALUE_1000EURO,price,AVG_TAVG,MIN_TMIN,MAX_TMAX
0,2005-01-01,42.972278,Argentina,maize,8100.0,937.50,0.115741,NaN,NaN,NaN
1,2005-01-01,42.972278,Belgium,maize,6402.3,762.53,0.119103,30.700000,-31.000000,79.000000
2,2005-01-01,42.972278,France,maize,106983.9,13119.68,0.122632,50.081198,-40.377358,124.038462
3,2005-01-01,42.972278,Germany,maize,39590.1,4767.79,0.120429,28.651592,-91.000000,129.842105
4,2005-01-01,42.972278,Hungary,maize,4705.2,515.71,0.109604,-1.306452,-136.000000,137.000000
...,...,...,...,...,...,...,...,...,...,...
21476,2022-08-01,NaN,Viet Nam,NaN,NaN,NaN,NaN,287.060676,244.363636,348.666667
21477,2022-09-01,NaN,Viet Nam,NaN,NaN,NaN,NaN,279.751352,233.600000,350.000000
21478,2022-10-01,NaN,Viet Nam,NaN,NaN,NaN,NaN,246.000000,238.000000,260.000000
21479,2022-11-01,NaN,Viet Nam,NaN,NaN,NaN,NaN,272.000000,252.000000,304.000000
21480,2022-12-01,NaN,Viet Nam,NaN,NaN,NaN,NaN,179.500000,123.000000,248.000000

### Merged trade data, oil price, weather, future prices data

In [11]:
df_merged_trade_oil_weather_futures = df_merged_trade_oil_weather.merge(df_futures_corn, on='TIME_PERIOD', how='outer')
df_merged_trade_oil_weather_futures

,TIME_PERIOD,OIL_PRICE $/bbl,PARTNER_Labels,product,OBS_VALUE_QUANTITY_TON,OBS_VALUE_VALUE_1000EURO,price,AVG_TAVG,MIN_TMIN,MAX_TMAX,Corn Price Futures
0,2005-01-01,42.972278,Argentina,maize,8100.0,937.50,0.115741,NaN,NaN,NaN,NaN
1,2005-01-01,42.972278,Belgium,maize,6402.3,762.53,0.119103,30.700000,-31.000000,79.000000,NaN
2,2005-01-01,42.972278,France,maize,106983.9,13119.68,0.122632,50.081198,-40.377358,124.038462,NaN
3,2005-01-01,42.972278,Germany,maize,39590.1,4767.79,0.120429,28.651592,-91.000000,129.842105,NaN
4,2005-01-01,42.972278,Hungary,maize,4705.2,515.71,0.109604,-1.306452,-136.000000,137.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21476,2022-12-01,NaN,Ukraine,NaN,NaN,NaN,NaN,33.276307,-78.000000,163.333333,NaN
21477,2022-12-01,NaN,United States,NaN,NaN,NaN,NaN,-14.536099,-125.184513,64.457218,NaN
21478,2022-12-01,NaN,Burkina Faso,NaN,NaN,NaN,NaN,260.295430,160.333333,373.500000,NaN
21479,2022-12-01,NaN,Uzbekistan,NaN,NaN,NaN,NaN,-32.452923,-173.700000,113.750000,NaN
21480,2022-12-01,NaN,Viet Nam,NaN,NaN,NaN,NaN,179.500000,123.000000,248.000000,NaN

### Merged trade, oil price, weather, future prices, macroeconomic

In [12]:
df_merged = df_merged_trade_oil_weather_futures.merge(df_macroeconomic, on=['TIME_PERIOD', 'PARTNER_Labels'], how='left')
df_merged

,TIME_PERIOD,OIL_PRICE $/bbl,PARTNER_Labels,product,OBS_VALUE_QUANTITY_TON,OBS_VALUE_VALUE_1000EURO,price,AVG_TAVG,MIN_TMIN,MAX_TMAX,Corn Price Futures,country_code,gdp_current_us,gdp_constant_2015_us,population_total,unemployment_total,agricultural_land,renewable_energy_consumption_perc_of_total,energy_use_kg_of_oil_equivalent_per_capita,fossil_fuel_energy_consumption_perc_of_total
0,2005-01-01,42.972278,Argentina,maize,8100.0,937.50,0.115741,NaN,NaN,NaN,NaN,ARG,1.987371e+11,4.352966e+11,39070501.0,11.51,1299209.0,9.64,1712.85,89.05
1,2005-01-01,42.972278,Belgium,maize,6402.3,762.53,0.119103,30.700000,-31.000000,79.000000,NaN,BEL,3.857148e+11,4.026519e+11,10478617.0,8.44,13830.0,2.46,5555.62,74.76
2,2005-01-01,42.972278,France,maize,106983.9,13119.68,0.122632,50.081198,-40.377358,124.038462,NaN,FRA,2.196945e+12,2.224791e+12,63188395.0,8.88,293904.0,8.66,4286.54,52.30
3,2005-01-01,42.972278,Germany,maize,39590.1,4767.79,0.120429,28.651592,-91.000000,129.842105,NaN,DEU,2.846864e+12,2.912034e+12,82469422.0,11.17,170310.0,7.28,4086.50,81.86
4,2005-01-01,42.972278,Hungary,maize,4705.2,515.71,0.109604,-1.306452,-136.000000,137.000000,NaN,HUN,1.132112e+11,1.137681e+11,10087065.0,7.19,58630.0,7.29,2731.04,80.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21476,2022-12-01,NaN,Ukraine,NaN,NaN,NaN,NaN,33.276307,-78.000000,163.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21477,2022-12-01,NaN,United States,NaN,NaN,NaN,NaN,-14.536099,-125.184513,64.457218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21478,2022-12-01,NaN,Burkina Faso,NaN,NaN,NaN,NaN,260.295430,160.333333,373.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21479,2022-12-01,NaN,Uzbekistan,NaN,NaN,NaN,NaN,-32.452923,-173.700000,113.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21480,2022-12-01,NaN,Viet Nam,NaN,NaN,NaN,NaN,179.500000,123.000000,248.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## CLEANING EXTREME VALUES

In [13]:
import numpy as np

# Delete all inf and -inf
df_merged = df_merged.replace([np.inf, -np.inf], np.nan)

In [37]:
# Define a function to replace extreme high values with NaN
def replace_outliers(df, column):
    z = np.abs((df[column] - df[column].mean()) / df[column].std()) # Calculate z-score for the column
    outliers = df[z > 3][column] # Identify extreme high values with a z-score greater than 3
    median = df[column].median() # Calculate the median of the column
    df.loc[z > 3, column] = np.nan # Replace extreme high values with NaN

# Define a list of columns to perform outlier treatment on
columns = ['OBS_VALUE_QUANTITY_TON', 'OBS_VALUE_VALUE_1000EURO', 'price', 'OIL_PRICE $/bbl', 'AVG_TAVG', 'MIN_TMIN', 'MAX_TMAX', 'Corn Price Futures', 'gdp_current_us', 'population_total', 'unemployment_total', 'agricultural_land', 'renewable_energy_consumption_perc_of_total', 'energy_use_kg_of_oil_equivalent_per_capita', 'fossil_fuel_energy_consumption_perc_of_total']

# Iterate over the columns and call the replace_outliers function for each one
for column in columns:
    replace_outliers(df_merged, column)

## FULL DATAFRAME (without filtering top countries)

In [15]:
###FOR NOW
df_maize_total = df_merged.pivot_table(index='TIME_PERIOD', columns=['PARTNER_Labels'], values=['OBS_VALUE_QUANTITY_TON', 'OBS_VALUE_VALUE_1000EURO', 'price', 'OIL_PRICE $/bbl', 'AVG_TAVG', 'MIN_TMIN', 'MAX_TMAX', 'Corn Price Futures', 'gdp_current_us', 'population_total','unemployment_total', 'agricultural_land', 'renewable_energy_consumption_perc_of_total','energy_use_kg_of_oil_equivalent_per_capita', 'fossil_fuel_energy_consumption_perc_of_total'], margins=True)
df_maize_total

                    AVG_TAVG                                             \
PARTNER_Labels       Albania     Algeria Angola     Armenia   Australia
TIME_PERIOD
2005-01-01 00:00:00      NaN   76.228202  274.0  -87.478261  242.290980
2005-02-01 00:00:00      NaN   84.478184  270.5  -87.000000  237.755531
2005-03-01 00:00:00      NaN  147.382230  156.0  -46.440000  223.480383
2005-04-01 00:00:00      NaN  181.541272  242.5   39.714286  208.498275
2005-05-01 00:00:00      NaN  240.048870  211.5   96.043478  167.861508
...                      ...         ...    ...         ...         ...
2022-09-01 00:00:00      NaN  286.008954    NaN  173.108906  165.721311
2022-10-01 00:00:00      NaN  231.950455    NaN  111.054056  189.637400
2022-11-01 00:00:00      NaN  168.537960    NaN   50.784508  201.174639
2022-12-01 00:00:00      NaN  150.914659    NaN   -1.926037  224.700188
All                      NaN         NaN    NaN         NaN         NaN

                                                                     \
PARTNER_Labels          Austria  Azerbaijan     Bahrain     Belarus
TIME_PERIOD
2005-01-01 00:00:00   -1.166667         NaN  160.222222   -7.788025
2005-02-01 00:00:00  -42.166667   72.000000  176.000000  -59.820327
2005-03-01 00:00:00   -1.994624   68.000000  211.095238  -32.497550
2005-04-01 00:00:00   60.233333  191.000000  257.315789   80.398109
2005-05-01 00:00:00  108.758065         NaN  303.117647  130.261818
...                         ...         ...         ...         ...
2022-09-01 00:00:00  103.779082  218.628333  346.350000   99.815254
2022-10-01 00:00:00   98.433871  160.495556  307.000000   82.525416
2022-11-01 00:00:00   36.939583   96.659524  274.357143   17.335752
2022-12-01 00:00:00   -9.296552   37.345238  223.176471  -29.105331
All                   78.260970         NaN         NaN         NaN

                                 ... unemployment_total            \
PARTNER_Labels          Belgium  ...             Uganda   Ukraine
TIME_PERIOD                      ...
2005-01-01 00:00:00   30.700000  ...                NaN  7.180000
2005-02-01 00:00:00   20.000000  ...                NaN  7.149167
2005-03-01 00:00:00   55.800000  ...                NaN  7.118333
2005-04-01 00:00:00  111.000000  ...                NaN  7.087500
2005-05-01 00:00:00  129.250000  ...                NaN  7.056667
...                         ...  ...                ...       ...
2022-09-01 00:00:00  166.000000  ...                NaN       NaN
2022-10-01 00:00:00  147.333333  ...                NaN       NaN
2022-11-01 00:00:00   88.454545  ...                NaN       NaN
2022-12-01 00:00:00   36.900000  ...                NaN       NaN
All                  111.602196  ...                NaN  8.515025

                                                                               \
PARTNER_Labels      United Arab Emirates United Kingdom United States Uruguay
TIME_PERIOD
2005-01-01 00:00:00             3.120000       4.750000      5.080000     NaN
2005-02-01 00:00:00             3.108788       4.800000      5.041667     NaN
2005-03-01 00:00:00             3.097576       4.850000      5.003333     NaN
2005-04-01 00:00:00             3.086364       4.900000      4.965000     NaN
2005-05-01 00:00:00             3.075152       4.950000      4.926667     NaN
...                                  ...            ...           ...     ...
2022-09-01 00:00:00                  NaN            NaN           NaN     NaN
2022-10-01 00:00:00                  NaN            NaN           NaN     NaN
2022-11-01 00:00:00                  NaN            NaN           NaN     NaN
2022-12-01 00:00:00                  NaN            NaN           NaN     NaN
All                             1.640000       5.510209           NaN     NaN


PARTNER_Labels      Uzbekistan Zambia Zimbabwe       All
TIME_PERIOD
2005-01-01 00:00:00   0.300000    NaN      NaN       NaN
2005-02-01 00:00:00   0.291667    NaN      NaN  7.464833
2005-03-01 00:00:00   0.283333    NaN      NaN  6.989697
2005-04-01 00:00:00   0.275000    NaN      NaN  6.636750
2005-05-01 00:00:00   0.266667    NaN      NaN  6.714000
...                        ...    ...      ...       ...
2022-09-01 00:00:00        NaN    NaN      NaN       NaN
2022-10-01 00:00:00        NaN    NaN      NaN       NaN
2022-11-01 00:00:00        NaN    NaN      NaN       NaN
2022-12-01 00:00:00        NaN    NaN      NaN       NaN
All                        NaN    NaN      NaN  7.001034

[217 rows x 1686 columns]

In [16]:
# Create a new DataFrame that only contains the 'price' values of France and Germany:
df_price = df_maize_total[['price']].loc[:, ('price', ['France', 'Germany'])]

In [17]:
# Remove any rows that contain missing values (NaN) in the 'price' column for France and Germany
df_price = df_price.dropna()

In [18]:
df_price_mean = df_price.mean(axis=1)
df_price_mean

TIME_PERIOD
2005-01-01 00:00:00    0.121531
2005-02-01 00:00:00    0.116532
2005-03-01 00:00:00    0.121236
2005-04-01 00:00:00    0.113698
2005-05-01 00:00:00    0.120077
                         ...
2022-07-01 00:00:00    0.372453
2022-08-01 00:00:00    0.315314
2022-09-01 00:00:00    0.295308
2022-10-01 00:00:00    0.383753
All                    0.194901
Length: 215, dtype: float64

In [19]:
# Calculate the year-over-year percent change in 'price' for France and Germany:
df_price_pct_change = df_price.pct_change()

# Replace NaN values with 0 (there are NaN values for the first year)
df_price_pct_change = df_price_pct_change.fillna(0)
df_price_pct_change

# Calculate the mean percent change in 'price' for each year across France and Germany:
df_price_pct_change_mean = df_price_pct_change.mean(axis=1)

In [20]:
# Create a new DataFrame that only contains the missing 'price' values for other countries:
df_missing_price = df_maize_total[['price']].loc[:, ('price', df_maize_total['price'].isna().any())]
df_missing_price

                                  price                                \
PARTNER_Labels      Antigua and Barbuda Argentina Australia   Austria
TIME_PERIOD
2005-01-01 00:00:00                 NaN  0.115741       NaN       NaN
2005-02-01 00:00:00                 NaN  0.123755       NaN       NaN
2005-03-01 00:00:00                 NaN  0.120312       NaN  0.133137
2005-04-01 00:00:00                 NaN  0.109644       NaN       NaN
2005-05-01 00:00:00                 NaN  0.130592       NaN       NaN
...                                 ...       ...       ...       ...
2022-09-01 00:00:00                 NaN  0.441667       NaN  0.539147
2022-10-01 00:00:00                 NaN  0.444080       NaN  0.554460
2022-11-01 00:00:00                 NaN       NaN       NaN       NaN
2022-12-01 00:00:00                 NaN       NaN       NaN       NaN
All                                 NaN       NaN       NaN  1.752232

                                                                           \
PARTNER_Labels      Bangladesh   Belgium Bosnia and Herzegovina    Brazil
TIME_PERIOD
2005-01-01 00:00:00        NaN  0.119103                    NaN       NaN
2005-02-01 00:00:00        NaN  0.118607                    NaN  0.164250
2005-03-01 00:00:00        NaN  0.121043                    NaN       NaN
2005-04-01 00:00:00        NaN  0.122473                    NaN       NaN
2005-05-01 00:00:00        NaN  0.129335                    NaN       NaN
...                        ...       ...                    ...       ...
2022-09-01 00:00:00        NaN  0.421045                    NaN  0.296534
2022-10-01 00:00:00        NaN  0.399394                    NaN  0.314287
2022-11-01 00:00:00        NaN       NaN                    NaN       NaN
2022-12-01 00:00:00        NaN       NaN                    NaN       NaN
All                        NaN  0.218329                    0.4  0.373898

                                       ...                   \
PARTNER_Labels       Bulgaria Burundi  ... Uganda   Ukraine
TIME_PERIOD                            ...
2005-01-01 00:00:00       NaN     NaN  ...    NaN       NaN
2005-02-01 00:00:00       NaN     NaN  ...    NaN       NaN
2005-03-01 00:00:00       NaN     NaN  ...    NaN       NaN
2005-04-01 00:00:00       NaN     NaN  ...    NaN       NaN
2005-05-01 00:00:00       NaN     NaN  ...    NaN       NaN
...                       ...     ...  ...    ...       ...
2022-09-01 00:00:00  0.540323     NaN  ...    NaN  0.313625
2022-10-01 00:00:00  0.455789     NaN  ...    NaN  0.313023
2022-11-01 00:00:00       NaN     NaN  ...    NaN       NaN
2022-12-01 00:00:00       NaN     NaN  ...    NaN       NaN
All                  1.849431     NaN  ...    NaN  0.203271

                                                                               \
PARTNER_Labels      United Arab Emirates United Kingdom United States Uruguay
TIME_PERIOD
2005-01-01 00:00:00                  NaN       0.314011      0.334963     NaN
2005-02-01 00:00:00                  NaN       0.380808      0.270379     NaN
2005-03-01 00:00:00                  NaN       0.329100      0.274034     NaN
2005-04-01 00:00:00                  NaN       0.292759      0.365034     NaN
2005-05-01 00:00:00                  NaN       0.336029      0.298552     NaN
...                                  ...            ...           ...     ...
2022-09-01 00:00:00                  NaN       0.480000      0.430013     NaN
2022-10-01 00:00:00                  NaN       0.449057      0.443971     NaN
2022-11-01 00:00:00                  NaN            NaN           NaN     NaN
2022-12-01 00:00:00                  NaN            NaN           NaN     NaN
All                             0.242762       0.765692           NaN     NaN


PARTNER_Labels      Viet Nam Zambia Zimbabwe       All
TIME_PERIOD
2005-01-01 00:00:00      NaN    NaN    3.080       NaN
2005-02-01 00:00:00      NaN    NaN    2.550  1.114294
2005-03-01 00:00:00      NaN    NaN    1.900  1.121132
2005-04-01 00:00:00      NaN    NaN    0.775  1.440279
2005-05-01 00:00:00      NaN    NaN      NaN  1.237590
...                      ...    ...      ...       ...
2022-09-01 00:00:00      NaN    NaN      NaN       NaN
2022-10-01 00:00:00      NaN    NaN      NaN       NaN
2022-11-01 00:00:00      NaN    NaN      NaN       NaN
2022-12-01 00:00:00      NaN    NaN      NaN       NaN
All                      NaN    NaN      NaN  1.462913

[217 rows x 98 columns]

In [21]:
# Fill in the missing 'price' values for each year in the new DataFrame using the mean percent change from France and Germany
df_missing_price = df_missing_price.fillna(method='ffill')
df_missing_price = df_missing_price.fillna(method='bfill')
df_missing_price = df_missing_price.fillna(df_price.iloc[-1])
df_missing_price = df_missing_price.apply(lambda x: x * (1 + df_price_pct_change_mean))

df_missing_price

                                  price                                \
PARTNER_Labels      Antigua and Barbuda Argentina Australia   Austria
TIME_PERIOD
2005-01-01 00:00:00            0.392593  0.115741  0.157143  0.133137
2005-02-01 00:00:00            0.376255  0.118605  0.150604  0.127597
2005-03-01 00:00:00            0.409603  0.125525  0.163951  0.138906
2005-04-01 00:00:00            0.368089  0.102801  0.147335  0.124828
2005-05-01 00:00:00            0.414697  0.137945  0.165991  0.140634
...                                 ...       ...       ...       ...
2022-09-01 00:00:00            0.440136  0.432341  0.587332  0.527764
2022-10-01 00:00:00            0.699595  0.690960  0.933562  0.862705
2022-11-01 00:00:00                 NaN       NaN       NaN       NaN
2022-12-01 00:00:00                 NaN       NaN       NaN       NaN
All                            0.233877  0.230991  0.312093  0.911433

                                                                           \
PARTNER_Labels      Bangladesh   Belgium Bosnia and Herzegovina    Brazil
TIME_PERIOD
2005-01-01 00:00:00   0.175000  0.119103               0.400000  0.164250
2005-02-01 00:00:00   0.167718  0.113671               0.383355  0.157415
2005-03-01 00:00:00   0.182582  0.126287               0.417331  0.171367
2005-04-01 00:00:00   0.164077  0.114829               0.375034  0.153998
2005-05-01 00:00:00   0.184853  0.136617               0.422521  0.173498
...                        ...       ...                    ...       ...
2022-09-01 00:00:00   0.171305  0.412155               0.391554  0.290273
2022-10-01 00:00:00   0.272289  0.621432               0.622375  0.489011
2022-11-01 00:00:00        NaN       NaN                    NaN       NaN
2022-12-01 00:00:00        NaN       NaN                    NaN       NaN
All                   0.091027  0.113565               0.208062  0.194485

                                         ...                      \
PARTNER_Labels       Bulgaria   Burundi  ...    Uganda   Ukraine
TIME_PERIOD                              ...
2005-01-01 00:00:00  0.224834  0.209091  ...  1.200000  0.203184
2005-02-01 00:00:00  0.215478  0.200390  ...  1.150064  0.194729
2005-03-01 00:00:00  0.234575  0.218150  ...  1.251993  0.211988
2005-04-01 00:00:00  0.210801  0.196040  ...  1.125102  0.190502
2005-05-01 00:00:00  0.237493  0.220864  ...  1.267564  0.214624
...                       ...       ...  ...       ...       ...
2022-09-01 00:00:00  0.528914  0.204676  ...  0.538387  0.307003
2022-10-01 00:00:00  0.709180  0.325332  ...  0.855765  0.487044
2022-11-01 00:00:00       NaN       NaN  ...       NaN       NaN
2022-12-01 00:00:00       NaN       NaN  ...       NaN       NaN
All                  0.961992  0.108760  ...  0.286086  0.105733

                                                                       \
PARTNER_Labels      United Arab Emirates United Kingdom United States
TIME_PERIOD
2005-01-01 00:00:00             0.242762       0.314011      0.334963
2005-02-01 00:00:00             0.232660       0.364961      0.259128
2005-03-01 00:00:00             0.253280       0.343359      0.285907
2005-04-01 00:00:00             0.227610       0.274487      0.342251
2005-05-01 00:00:00             0.256430       0.354949      0.315362
...                                  ...            ...           ...
2022-09-01 00:00:00             0.440499       0.469865      0.420934
2022-10-01 00:00:00             0.700172       0.698704      0.690790
2022-11-01 00:00:00                  NaN            NaN           NaN
2022-12-01 00:00:00                  NaN            NaN           NaN
All                             0.126274       0.398279      0.230934


PARTNER_Labels        Uruguay  Viet Nam    Zambia  Zimbabwe       All
TIME_PERIOD
2005-01-01 00:00:00  0.301366  3.645455  4.847368  3.080000  1.114294
2005-02-01 00:00:00  0.288825  3.493754  4.645652  2.443885  1.067924
2005-03-01 00:00:00  0.314423  3.803404  5.057394  1.982323  1.169708
2005-04-01 00:00:00  0.282556  3.417923  4.544820  0.726628  1.350384
2005-05-01 00:00:00  0.318334  3.850707  5.120293  0.818635  1.307271
...                       ...       ...       ...       ...       ...
2022-09-01 00:00:00  0.660277  2.104605  4.962199  0.211350  0.460611
2022-10-01 00:00:00  1.049509  3.345264  7.887402  0.335941  0.732140
2022-11-01 00:00:00       NaN       NaN       NaN       NaN       NaN
2022-12-01 00:00:00       NaN       NaN       NaN       NaN       NaN
All                  0.350855  1.118335  2.636789  0.112306  0.760943

[217 rows x 98 columns]

In [22]:
# Update the original DataFrame with the filled-in missing values

df_maize_total.update(df_missing_price)
df_maize_total

                    AVG_TAVG                                             \
PARTNER_Labels       Albania     Algeria Angola     Armenia   Australia
TIME_PERIOD
2005-01-01 00:00:00      NaN   76.228202  274.0  -87.478261  242.290980
2005-02-01 00:00:00      NaN   84.478184  270.5  -87.000000  237.755531
2005-03-01 00:00:00      NaN  147.382230  156.0  -46.440000  223.480383
2005-04-01 00:00:00      NaN  181.541272  242.5   39.714286  208.498275
2005-05-01 00:00:00      NaN  240.048870  211.5   96.043478  167.861508
...                      ...         ...    ...         ...         ...
2022-09-01 00:00:00      NaN  286.008954    NaN  173.108906  165.721311
2022-10-01 00:00:00      NaN  231.950455    NaN  111.054056  189.637400
2022-11-01 00:00:00      NaN  168.537960    NaN   50.784508  201.174639
2022-12-01 00:00:00      NaN  150.914659    NaN   -1.926037  224.700188
All                      NaN         NaN    NaN         NaN         NaN

                                                                     \
PARTNER_Labels          Austria  Azerbaijan     Bahrain     Belarus
TIME_PERIOD
2005-01-01 00:00:00   -1.166667         NaN  160.222222   -7.788025
2005-02-01 00:00:00  -42.166667   72.000000  176.000000  -59.820327
2005-03-01 00:00:00   -1.994624   68.000000  211.095238  -32.497550
2005-04-01 00:00:00   60.233333  191.000000  257.315789   80.398109
2005-05-01 00:00:00  108.758065         NaN  303.117647  130.261818
...                         ...         ...         ...         ...
2022-09-01 00:00:00  103.779082  218.628333  346.350000   99.815254
2022-10-01 00:00:00   98.433871  160.495556  307.000000   82.525416
2022-11-01 00:00:00   36.939583   96.659524  274.357143   17.335752
2022-12-01 00:00:00   -9.296552   37.345238  223.176471  -29.105331
All                   78.260970         NaN         NaN         NaN

                                 ... unemployment_total            \
PARTNER_Labels          Belgium  ...             Uganda   Ukraine
TIME_PERIOD                      ...
2005-01-01 00:00:00   30.700000  ...                NaN  7.180000
2005-02-01 00:00:00   20.000000  ...                NaN  7.149167
2005-03-01 00:00:00   55.800000  ...                NaN  7.118333
2005-04-01 00:00:00  111.000000  ...                NaN  7.087500
2005-05-01 00:00:00  129.250000  ...                NaN  7.056667
...                         ...  ...                ...       ...
2022-09-01 00:00:00  166.000000  ...                NaN       NaN
2022-10-01 00:00:00  147.333333  ...                NaN       NaN
2022-11-01 00:00:00   88.454545  ...                NaN       NaN
2022-12-01 00:00:00   36.900000  ...                NaN       NaN
All                  111.602196  ...                NaN  8.515025

                                                                               \
PARTNER_Labels      United Arab Emirates United Kingdom United States Uruguay
TIME_PERIOD
2005-01-01 00:00:00             3.120000       4.750000      5.080000     NaN
2005-02-01 00:00:00             3.108788       4.800000      5.041667     NaN
2005-03-01 00:00:00             3.097576       4.850000      5.003333     NaN
2005-04-01 00:00:00             3.086364       4.900000      4.965000     NaN
2005-05-01 00:00:00             3.075152       4.950000      4.926667     NaN
...                                  ...            ...           ...     ...
2022-09-01 00:00:00                  NaN            NaN           NaN     NaN
2022-10-01 00:00:00                  NaN            NaN           NaN     NaN
2022-11-01 00:00:00                  NaN            NaN           NaN     NaN
2022-12-01 00:00:00                  NaN            NaN           NaN     NaN
All                             1.640000       5.510209           NaN     NaN


PARTNER_Labels      Uzbekistan Zambia Zimbabwe       All
TIME_PERIOD
2005-01-01 00:00:00   0.300000    NaN      NaN       NaN
2005-02-01 00:00:00   0.291667    NaN      NaN  7.464833
2005-03-01 00:00:00   0.283333    NaN      NaN  6.989697
2005-04-01 00:00:00   0.275000    NaN      NaN  6.636750
2005-05-01 00:00:00   0.266667    NaN      NaN  6.714000
...                        ...    ...      ...       ...
2022-09-01 00:00:00        NaN    NaN      NaN       NaN
2022-10-01 00:00:00        NaN    NaN      NaN       NaN
2022-11-01 00:00:00        NaN    NaN      NaN       NaN
2022-12-01 00:00:00        NaN    NaN      NaN       NaN
All                        NaN    NaN      NaN  7.001034

[217 rows x 1686 columns]

## HANDLE MISSING DATA

### price

## Save excel file

In [23]:
# Set the path and name of the Excel file
file_path = "df_maize_total.csv"

# Write the df_pivot dataframe to the specified Excel file
df_maize_total.to_csv(file_path, index=True)

In [24]:
df_maize_total.to_excel("maize_missingpricesfilled.xlsx")

## ANALYSIS CORN IMPORT TO NL (HISTORICAL) & FILTER TOP PARTNERS

In [25]:
df_maize_corn_0['TIME_PERIOD'] = pd.to_datetime(df_maize_corn_0['TIME_PERIOD'])
mask = (df_maize_corn_0['TIME_PERIOD'] >= '2005-01-01') & (df_maize_corn_0['TIME_PERIOD'] <= '2022-10-01')
df_filtered = df_maize_corn_0.loc[mask]
total = df_filtered['OBS_VALUE_QUANTITY_TON'].sum()

total

77296299.4

In [26]:
df_maize_corn_0['TIME_PERIOD'] = pd.to_datetime(df_maize_corn_0['TIME_PERIOD'])
mask = (df_maize_corn_0['TIME_PERIOD'] >= '2005-01-01') & (df_maize_corn_0['TIME_PERIOD'] <= '2022-10-01')
df_filtered = df_maize_corn_0.loc[mask]

grouped = df_filtered.groupby('PARTNER_Labels')['OBS_VALUE_QUANTITY_TON'].sum().reset_index()
grouped = grouped.sort_values(by='OBS_VALUE_QUANTITY_TON', ascending=False)
grouped = grouped.reset_index()
grouped['cumulative_sum'] = grouped['OBS_VALUE_QUANTITY_TON'].cumsum()
grouped['cumulative_sum_pct'] = grouped['cumulative_sum'] / grouped['OBS_VALUE_QUANTITY_TON'].sum()

grouped.head(10)

,index,PARTNER_Labels,OBS_VALUE_QUANTITY_TON,cumulative_sum,cumulative_sum_pct
0,101,Ukraine,22670363.9,22670363.9,0.293292
1,32,France,20818695.8,43489059.7,0.562628
2,9,Brazil,7514296.3,51003356.0,0.659842
3,35,Germany,7132645.5,58136001.5,0.752119
4,40,Hungary,3995159.3,62131160.8,0.803805
5,79,Romania,3816059.5,65947220.3,0.853174
6,6,Belgium,3008019.1,68955239.4,0.892090
7,80,Russia,1464272.2,70419511.6,0.911033
8,2,Argentina,1357260.3,71776771.9,0.928593
9,104,United States,1045888.5,72822660.4,0.942124

In [27]:
# Declare splitting point for cumulative import to NL history, biggest partners
splitting_point = 0.8

for i, row in grouped.iterrows():
    if row['cumulative_sum_pct'] >= splitting_point:
        top_x = i + 1
        break
        
top_partners = grouped['PARTNER_Labels'].head(top_x).tolist()
top_partners

['Ukraine', 'France', 'Brazil', 'Germany', 'Hungary']

## Simplicity/overview: filtered top partners

In [28]:
pd.set_option('display.max_columns', 90) #replace n with the number of columns you want to see completely

In [38]:
# filter the pivot table using the loc method
df_maize_total_filtered = df_maize_total.loc[:, (slice(None), top_partners)]


# GEEEN IDEE WAAROM, MAAR NA FILTEREN VERANDERT PIVOT OPEENS WEER NAAR VOLGORDE DIE WE EERST VOOR OGEN HADDEN, MWEH
# display the filtered pivot table
df_maize_total_filtered = df_maize_total_filtered.sort_index(axis=1)
df_maize_total_filtered.head(5)

                       AVG_TAVG                                      \
PARTNER_Labels           Brazil      France     Germany     Hungary
TIME_PERIOD
2005-01-01 00:00:00  269.701032   50.081198   28.651592   -1.306452
2005-02-01 00:00:00  266.743474   30.689158   -1.962406  -25.371429
2005-03-01 00:00:00  266.528149   76.202630   45.730051   38.383871
2005-04-01 00:00:00  253.719444  108.081105  101.859649  112.460000
2005-05-01 00:00:00  247.859946  147.068032  134.667233  162.993548

                                Corn Price Futures                          \
PARTNER_Labels          Ukraine             Brazil  France Germany Hungary
TIME_PERIOD
2005-01-01 00:00:00    0.869290                NaN     NaN     NaN     NaN
2005-02-01 00:00:00  -38.376438             222.75  222.75  222.75  222.75
2005-03-01 00:00:00   -3.794989             221.00  221.00  221.00  221.00
2005-04-01 00:00:00   90.622214             213.50  213.50  213.50  213.50
2005-05-01 00:00:00  161.493475             230.75  230.75  230.75  230.75

                            MAX_TMAX                                      \
PARTNER_Labels      Ukraine   Brazil      France     Germany     Hungary
TIME_PERIOD
2005-01-01 00:00:00     NaN   355.50  124.038462  129.842105  137.000000
2005-02-01 00:00:00  222.75   342.50  119.983051  108.315789   57.666667
2005-03-01 00:00:00  221.00   347.25  201.140625  180.894737  209.000000
2005-04-01 00:00:00  213.50   338.50  254.950820  213.315789  218.000000
2005-05-01 00:00:00  230.75   341.00  279.101695  314.684211  321.000000

                                MIN_TMIN                                     \
PARTNER_Labels          Ukraine   Brazil     France     Germany     Hungary
TIME_PERIOD
2005-01-01 00:00:00  102.142857   182.00 -40.377358  -91.000000 -136.000000
2005-02-01 00:00:00   60.142857   180.00 -65.083333 -125.684211 -167.600000
2005-03-01 00:00:00  112.468208   201.75 -90.450000  -99.526316 -126.400000
2005-04-01 00:00:00  204.189944   150.00  23.620690  -12.421053   -2.000000
2005-05-01 00:00:00  307.400000   138.00  56.158730   22.631579   27.833333

                                OBS_VALUE_QUANTITY_TON                     \
PARTNER_Labels          Ukraine                 Brazil    France  Germany
TIME_PERIOD
2005-01-01 00:00:00 -105.930233                    NaN  106983.9  39590.1
2005-02-01 00:00:00 -190.275862                   40.0  126648.5  73452.7
2005-03-01 00:00:00 -123.523810                    NaN   94526.9  66027.6
2005-04-01 00:00:00  -37.809524                    NaN  137965.3  52878.4
2005-05-01 00:00:00   57.571429                    NaN  122365.8  42554.1

                                     OBS_VALUE_VALUE_1000EURO            \
PARTNER_Labels       Hungary Ukraine                   Brazil    France
TIME_PERIOD
2005-01-01 00:00:00   4705.2     NaN                      NaN  13119.68
2005-02-01 00:00:00  16053.2     NaN                     6.57  15708.00
2005-03-01 00:00:00  14437.1     NaN                      NaN  11692.80
2005-04-01 00:00:00   6912.4     0.0                      NaN  16202.52
2005-05-01 00:00:00  19030.3     NaN                      NaN  15090.74

                                              OIL_PRICE $/bbl             \
PARTNER_Labels       Germany  Hungary Ukraine          Brazil     France
TIME_PERIOD
2005-01-01 00:00:00  4767.79   515.71     NaN             NaN  42.972278
2005-02-01 00:00:00  8008.91  1694.86     NaN       44.818211  44.818211
2005-03-01 00:00:00  7842.34  1478.85     NaN             NaN  50.942879
2005-04-01 00:00:00  5814.35   720.98    0.08             NaN  50.640476
2005-05-01 00:00:00  4971.52  2196.78     NaN             NaN  47.826573

                                                     agricultural_land  \
PARTNER_Labels         Germany    Hungary    Ukraine            Brazil
TIME_PERIOD
2005-01-01 00:00:00  42.972278  42.972278        NaN      2.288420e+06
2005-02-01 00:00:00  44.818211  44.818211        NaN      2.288511e+06
2005-03-01 00:00:00  50.942879  50.942879        NaN      2.288602e+06
2005-04-01 00:00:00  50.640476  50.640476  50.640476      2.288692e+06
2005-05-01 00:00:00  47.826573  47.826573        NaN      2.288783e+06

                                                                       \
PARTNER_Labels          France        Germany  Hungary        Ukraine
TIME_PERIOD
2005-01-01 00:00:00  293904.00  170310.000000  58630.0  413040.000000
2005-02-01 00:00:00  293839.25  170239.166667  58585.0  413023.333333
2005-03-01 00:00:00  293774.50  170168.333333  58540.0  413006.666667
2005-04-01 00:00:00  293709.75  170097.500000  58495.0  412990.000000
2005-05-01 00:00:00  293645.00  170026.666667  58450.0  412973.333333

                    energy_use_kg_of_oil_equivalent_per_capita               \
PARTNER_Labels                                          Brazil       France
TIME_PERIOD
2005-01-01 00:00:00                                1152.760000  4286.540000
2005-02-01 00:00:00                                1155.034167  4278.360833
2005-03-01 00:00:00                                1157.308333  4270.181667
2005-04-01 00:00:00                                1159.582500  4262.002500
2005-05-01 00:00:00                                1161.856667  4253.823333

                                                          \
PARTNER_Labels           Germany      Hungary    Ukraine
TIME_PERIOD
2005-01-01 00:00:00  4086.500000  2731.040000  3033.1800
2005-02-01 00:00:00  4096.345833  2729.558333  3025.0225
2005-03-01 00:00:00  4106.191667  2728.076667  3016.8650
2005-04-01 00:00:00  4116.037500  2726.595000  3008.7075
2005-05-01 00:00:00  4125.883333  2725.113333  3000.5500

                    fossil_fuel_energy_consumption_perc_of_total             \
PARTNER_Labels                                            Brazil     France
TIME_PERIOD
2005-01-01 00:00:00                                    54.250000  52.300000
2005-02-01 00:00:00                                    54.180833  52.265833
2005-03-01 00:00:00                                    54.111667  52.231667
2005-04-01 00:00:00                                    54.042500  52.197500
2005-05-01 00:00:00                                    53.973333  52.163333

                                                     gdp_current_us  \
PARTNER_Labels         Germany    Hungary    Ukraine         Brazil
TIME_PERIOD
2005-01-01 00:00:00  81.860000  80.370000  83.280000   8.916302e+11
2005-02-01 00:00:00  81.810833  80.344167  83.173333   9.096310e+11
2005-03-01 00:00:00  81.761667  80.318333  83.066667   9.276319e+11
2005-04-01 00:00:00  81.712500  80.292500  82.960000   9.456327e+11
2005-05-01 00:00:00  81.663333  80.266667  82.853333   9.636335e+11

                                                                             \
PARTNER_Labels             France       Germany       Hungary       Ukraine
TIME_PERIOD
2005-01-01 00:00:00  2.196945e+12  2.846864e+12  1.132112e+11  8.923937e+10
2005-02-01 00:00:00  2.207244e+12  2.859184e+12  1.134199e+11  9.112649e+10
2005-03-01 00:00:00  2.217544e+12  2.871504e+12  1.136286e+11  9.301360e+10
2005-04-01 00:00:00  2.227843e+12  2.883824e+12  1.138373e+11  9.490072e+10
2005-05-01 00:00:00  2.238142e+12  2.896144e+12  1.140460e+11  9.678783e+10

                    population_total                                          \
PARTNER_Labels                Brazil      France       Germany       Hungary
TIME_PERIOD
2005-01-01 00:00:00     1.867973e+08  63188395.0  8.246942e+07  1.008706e+07
2005-02-01 00:00:00     1.869659e+08  63225050.5  8.246167e+07  1.008576e+07
2005-03-01 00:00:00     1.871346e+08  63261706.0  8.245393e+07  1.008445e+07
2005-04-01 00:00:00     1.873032e+08  63298361.5  8.244618e+07  1.008314e+07
2005-05-01 00:00:00     1.874718e+08  63335017.0  8.243843e+07  1.008183e+07

                                     price                                \
PARTNER_Labels           Ukraine    Brazil    France   Germany   Hungary
TIME_PERIOD
2005-01-01 00:00:00  47105171.00  0.164250  0.122632  0.120429  0.109604
2005-02-01 00:00:00  47078722.25  0.157415  0.118867  0.104498  0.101184
2005-03-01 00:00:00  47052273.50  0.171367  0.129058  0.123920  0.106872
2005-04-01 00:00:00  47025824.75  0.153998  0.110109  0.103094  0.097792
2005-05-01 00:00:00  46999376.00  0.173498  0.130268  0.123406  0.121935

                              renewable_energy_consumption_perc_of_total  \
PARTNER_Labels        Ukraine                                     Brazil
TIME_PERIOD
2005-01-01 00:00:00  0.203184                                     46.130
2005-02-01 00:00:00  0.194729                                     46.175
2005-03-01 00:00:00  0.211988                                     46.220
2005-04-01 00:00:00  0.190502                                     46.265
2005-05-01 00:00:00  0.214624                                     46.310

                                                        unemployment_total  \
PARTNER_Labels         France   Germany Hungary Ukraine             Brazil
TIME_PERIOD
2005-01-01 00:00:00  8.660000  7.280000  7.2900    1.27          10.550000
2005-02-01 00:00:00  8.648333  7.389167  7.3375    1.31          10.478333
2005-03-01 00:00:00  8.636667  7.498333  7.3850    1.35          10.406667
2005-04-01 00:00:00  8.625000  7.607500  7.4325    1.39          10.335000
2005-05-01 00:00:00  8.613333  7.716667  7.4800    1.43          10.263333


PARTNER_Labels         France    Germany Hungary   Ukraine
TIME_PERIOD
2005-01-01 00:00:00  8.880000  11.170000   7.190  7.180000
2005-02-01 00:00:00  8.875833  11.093333   7.215  7.149167
2005-03-01 00:00:00  8.871667  11.016667   7.240  7.118333
2005-04-01 00:00:00  8.867500  10.940000   7.265  7.087500
2005-05-01 00:00:00  8.863333  10.863333   7.290  7.056667

In [30]:
# Filter the data to include only the desired countries
#df_filtered = df_merged[df_merged['PARTNER_Labels'].isin(top_partners)]

# Create the pivot table
#df_filtered_maize_total = df_filtered.pivot_table(index='TIME_PERIOD',columns=['PARTNER_Labels'], values=['OBS_VALUE_QUANTITY_TON', 'OBS_VALUE_VALUE_1000EURO', 'price', 'OIL_PRICE $/bbl', 'AVG_TAVG', 'MIN_TMIN', 'MAX_TMAX', 'Corn Price Futures', 'gdp_current_us', 'population_total','unemployment_total', 'agricultural_land', 'renewable_energy_consumption_perc_of_total','energy_use_kg_of_oil_equivalent_per_capita', 'fossil_fuel_energy_consumption_perc_of_total'])
#df_filtered_maize_total

In [42]:
df_maize_total_filtered.to_csv("cadeautjevoorLiza.csv", index=True)

In [32]:
df_maize_total_filtered.to_csv("cadeautjevoorGonemenLiza")

In [33]:
df_maize_total_filtered['price'].median()

PARTNER_Labels
Ukraine    0.197036
France     0.192336
Brazil     0.185076
Germany    0.204806
Hungary    0.177812
dtype: float64